p{
  font-family: Montserrat;
  text-align: center;
}


.model-text{
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 0px;
}

.order-text{
  margin-top: 7px;
}

.delivery-text:hover{
  text-decoration: underline;
  cursor: pointer;
}
